@page
@model MenuModel
@using PizzaShopWebService.Models;

@{
    ViewData["Title"] = "Menu";
}

<div class="row">
	<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3> Menu </h3>
	</header>

	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="background-color:white;  height:90%; padding:0% ">
		<div style="height:85%; width:100%; background-color:black; color:white; padding:5%;">
		
			<span></span>

			<br />

			<table style="width:100%;">
				@foreach (Pizza pizza in @Model.Order.Pizzas) {
					<thead>
						<tr>
							<td style="width:80%; text-align:left">
								<h3> Pizza - @pizza.Size</h3>
							</td>
							<td style="width:20%; text-align:right;">
								<h3> $@Model.Order.CalculatePizzaPrice(pizza) </h3>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align:left">
								<p> @pizza.Crust Crust </p>
							</td>
						</tr>

						@foreach (PizzaTopping topping in @pizza.Toppings){
							<tr>
								<td style="text-align:left">
									<p> @topping </p>
								</td>
							</tr>
						}

						@foreach (PizzaExtra extra in @pizza.Extras) {
							<tr>
								<td style="text-align:left">
									<p> @extra </p>
								</td>
							</tr>
						}
					</tbody>
				}
			</table>
			
			<table style="width:100%;">
				@foreach (Drink drink in @Model.Order.Drinks) {
					<thead>
						<tr>
							<td style="width:80%; text-align:left">
								<h3> Drink - @drink.Type </h3>
							</td>
							<td style="width:20%; text-align:right;">
								<h3> $@Model.Order.CalculateDrinkPrice(drink) </h3>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align:left">
								<p> @drink.Size </p>
							</td>
						</tr>
					</tbody>
				}
			</table>
		</div>

		<div style="height:15%; width:100%; background-color:black; border-top:1px dotted white; color:white; padding:5%; padding-top:0%">
			<table style="width:100%; height:100%;">
				<tr>
					<td style="width:80%; text-align:left">
						<h3> Total </h3>
					</td>
					<td style="width:20%">
						<h3> $@Model.Order.Total </h3>
					</td>
				</tr>
			</table>
		</div>
	</div>
 
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding:0%; height:100%; text-align:center">
		<div id="mensu" style="padding:0%;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
       
			
			<form method="post" style="width: 100%;">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding:0%;">
					<h5 style="text-align:center; color:white"> Create Pizza </h5>
					<p style="text-align:center; color:white"> Control+Click to select more than one item </p>
					<hr>
					<div class="form-group">
						<h5 style="text-align:center; color:white;"> Size </<h5>
						<select asp-for="CurrentPizza.Size" asp-items="Html.GetEnumSelectList<PizzaSize>()" class="form-control"></select>
						<span asp-validation-for="CurrentPizza.Size" class="text-danger"></span>
					</div>

					<div class="form-group">
						<h5 style="text-align:center; color:white;"> Crust </<h5>
						<p> $@Model.Order.PizzaCrustPrice for stuffed crust. </p>
						<select asp-for="CurrentPizza.Crust" asp-items="Html.GetEnumSelectList<PizzaCrust>()" class="form-control"></select> 
						<span asp-validation-for="CurrentPizza.Crust" class="text-danger"></span>
					</div>

					<div class="form-group">
						<h5 style="text-align:center; color:white;"> Toppings </<h5>
						<p> $@Model.Order.PizzaToppingPrice per topping. </p>
						<select asp-for="CurrentPizza.Toppings" asp-items="Html.GetEnumSelectList<PizzaTopping>()" class="form-control"></select>
						<span asp-validation-for="CurrentPizza.Toppings" class="text-danger"></span>
					</div>

					<div class="form-group">
						<h5 style="text-align:center; color:white;"> Extras </<h5>
						<p> $@Model.Order.PizzaExtraPrice per extra. </p>
						<select asp-for="CurrentPizza.Extras" asp-items="Html.GetEnumSelectList<PizzaExtra>()" class="form-control"></select>
						<span asp-validation-for="CurrentPizza.Extras" class="text-danger"></span>
					</div>
				</div>

				<input type="submit" asp-page-handler="AddPizza" value="Add Pizza" class="submit" style="width:59%" /> <br /> <br />
			</form>
			</div>
		
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
       
		
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h4 style="text-align:center; color:white"> Select Drinks </h4>

					<div class="form-group">
						<h5 style="text-align:center; color:white;"> Size </<h5>
						<select asp-for="CurrentDrink.Size" asp-items="Html.GetEnumSelectList<DrinkSize>()" class="form-control"></select>
						<span asp-validation-for="CurrentDrink.Size" class="text-danger"></span>
					</div>

					<div class="form-group">
						<h5 style="text-align:center; color:white;"> Type </<h5>
						<select asp-for="CurrentDrink.Type" asp-items="Html.GetEnumSelectList<DrinkType>()" class="form-control"></select>
						<span asp-validation-for="CurrentDrink.Type" class="text-danger"></span>
					</div>
				</div>

				<input type="submit" asp-page-handler="AddDrink" value="Add Drink" class="submit" style="width:59%" /> <br /> <br />
			</form>
	</div>
			<div class="otherService col-lg-12 col-md-12 col-sm-12 col-x	s-12" style="text-align:left; padding:0%; text-align:center">				
				<form method="post">
						<table style="width: 100%;"> 
						<tr>
							<td>
	<input type="submit" asp-page-handler="RestartOrder" value="Restart Order" class="submit" style="width:100%" /> 
							</td>
							<td>
									<input type="submit" asp-page="/Menu" value="Continue" class="submit" style="width:100%" />
							</td>
						</tr>
					</table>
				
				</form>
			</div>
		</div>
	</div>
</div>

<style>
	.row {
		margin: 0%;
		padding: 0%;
		height: 650px;
		width: 100%;
		
		border: 1px solid lightgray;
		background-color: Highlight;
		/*-moz-box-shadow: 2px 2px 2px 2px darkblue;
		-webkit-box-shadow: 2px 2px 2px 2px darkblue;
		box-shadow: 0px 0px 10px 0px gray;*/
	}

	header {
		height: 60px;
		/*border-bottom: 1px solid gray;*/
		/*background-color: #febc11;*/
		font-weight: bold;
		text-align:center;
	}

	footer {
		height: 60px;
		/*border-top: 1px solid lightgray;*/
	}

	footer input {
		background-color: silver;
		text-align: center;
		color: white;
		height: 90%;
		width: 20%;
		right: 0%;
		float: right
	}

	h3 {
		text-align: center;
		text-transform: capitalize;
	}

	.row div {
		margin: 0%;
		/*border: 1px solid lightgray;*/
		vertical-align: central;
		display: inline-block;
		padding: 5%;
	}

	input {
		height: 50px;
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		border: 1px solid lightgray;
	}

	form {
		padding: 0%;
		width: 100%;
	}

	.submit {
		background-color: black;
		color: #febc11;
		font-weight: bold;
		margin: 0%;
		display: inline;
	}

	#formCheck input {
		width: 100%;
	}

	h4 {
		text-transform: uppercase;
	}

	h3 {
		text-align: left;
	}

	img {
		height: 80px;
	}

	ul li {
		padding: 0%;
		display: inline-block;
		list-style: none;
	}

	#MenuButton {
		width: 100px;
		float: left;
	}

	#mensu div {
		padding: 0%;
		/*border:1px solid red;*/
	}

	hr {
		margin: 2%;
	}

	#menuHeaderes input {
		background-color: white;
		border-radius: 10%;
		border: gray;
	}

	#menuHeaderes input:active {
		background-color: silver;
	}

	#menuTops {
		margin: 0%;
		padding: 0%;
	}

	#menuTops input {
		background-color: #feda7c;
		background-color: #73e373;
		border-radius: 10%;
		width: 100px;
		color: white;
		border: 1px solid green;
	}

	.otherService #menuTops input {
		background-color: #febc11;
	}

	#otherServices input {
		padding: 0%;
		background-color: #febc11;
		border-radius: 10%;
	}

	#menuTops input:active {
		background-color: green;
	}

	#menuItem input {
		height: 80px;
		background-color: yellow;
		border: 1px solid black;
		color: black;
		border-radius: 20%;
		border-radius: 10%;
		/*-moz-box-shadow: 2px 2px 2px 2px darkblue;
		-webkit-box-shadow: 2px 2px 2px 2px darkblue;
		box-shadow: 1px 1px 1px 2px #febc11;*/
	}

	#menuItem input:active {
		background-color: #febc11;
	}

	#continue:active {
		background-color: darkslategray;
	}

	p {
		font-size: large;
		margin: 0%;
		padding: 0%;
	}

	img {
		width: 100%;
		height: auto;
	}
</style>