@page
@model OrderModel
@using PizzaShopWebService.Models

<div class="row">
	<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3> Order </h3>
	</header>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

			<div style="height: 200px; width:100%; border:1px solid lightgray; overflow-y:scroll">   
             <table style="width:100%; height:100px; overflow-y:scroll">
				@foreach (Pizza pizza in @Model.Order.Items.Pizzas) {
					<thead>
						<tr>
							<td style="width:80%; text-align:left">
								<h4> @pizza.Size Pizza </h4>
							</td>
							<td style="width:20%; text-align:right;">
								<h4> $@Model.Order.CalculatePizzaPrice(pizza) </h4>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align:left">
								<p> @pizza.Crust Crust </p>
							</td>
						</tr>

						@foreach (PizzaTopping topping in @pizza.Toppings){
							<tr>
								<td style="text-align:left">
									<p> @topping </p>
								</td>
							</tr>
						}

						@foreach (PizzaExtra extra in @pizza.Extras) {
							<tr>
								<td style="text-align:left">
									<p> @extra </p>
								</td>
							</tr>
						}
					</tbody>
				}

				@foreach (Drink drink in @Model.Order.Items.Drinks) {
					<thead>
						<tr>
							<td style="width:80%; text-align:left">
								<h4> @drink.Size @drink.Type </h4>
							</td>
							<td style="width:20%; text-align:right;">
								<h4> $@Model.Order.CalculateDrinkPrice(drink) </h4>
							</td>
						</tr>
					</thead>
				}
			</table>
			</div>
		<div style="border:1px solid lightgray;width:100%;height:300px;">
		
			<table style="width:100%">
				<tr>
					<td style="width:80%; text-align:left">
						<h4> Total </h4>
					</td>
					<td>
						<h5> $@Model.Order.Total </h5>
					</td>
				</tr>
			</table>
			
			<hr />

			<table style="width:100%">
				<tr>
					<td style="width:80%; text-align:left">
						<h4> Delivering Address </h4>
						<p>
							@Model.Customer.Address
							<br />
							@Model.Customer.AddressDetails
						</p>
					</td>
					<td>
						<img src="https://firebasestorage.googleapis.com/v0/b/testhouse-ff733.appspot.com/o/ra0m2bw5kp?alt=media" />
					</td>
				</tr>
			</table>

			<hr />
			
			<table style="width:100%">
				<tr>
					<td style="width:80%; text-align:left">
						<h4> Delivery Fee </h4>
					</td>
					<td>
						<h5> $@Model.Order.DeliveryFee </h5>
					</td>
				</tr>
				<tr>
					<td style="width:80%; text-align:left">
						<h4> Pickup Type </h4>
					</td>
					<td>
						<div class="form-group">
							<select asp-for="Order.RetrievalType" asp-items="Html.GetEnumSelectList<RetrievalType>()" class="form-control"></select>
							<span asp-validation-for="Order.RetrievalType" class="text-danger"></span>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:center; top:80px;  vertical-align:central">
		<form id="formCheck" method="post" style="margin-top:20%;">
			<input type="submit" asp-page="/Order" value="Continue" class="submit" style="width:59%" />
		</form> 

		<br />

		<form id="formCheck" method="get" style="margin-top:20%;">
			<input type="submit" asp-page="/Menu" value="Back" class="submit" style="width:59%" />
		</form> 
		<br /><br />
	</div>
</div>

<style>
	.row {
		margin: 0%;
		padding: 0%;
		height: 650px;
		width: 100%;
		border: 1px solid lightgray;
	
		background-color: white;
		text-transform:capitalize;
	}

	header {
		height: 60px;
		border-bottom: 1px solid lightgray;
		/*background-color: #febc11;*/
		font-weight: bold;
	}

	h3 {
		text-align: center;
		text-transform: capitalize;
	}

	.row div {
		margin: 0%;
		/*border: 1px solid lightgray;*/
		vertical-align: central;
		display: inline-block;
		padding: 5%;
	}

	input {
		height: 50px;
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		border: 1px solid lightgray;
	}

	form {
		padding: 0%;
		width: 100%;
	}

	.submit {
		background-color: black;
		color: #febc11;
		font-weight: bold;
		margin: 0%;
		display: inline;
	}

	#formCheck input {
		width: 100%;
	}

	h4 {
		text-transform: uppercase;
	}

	img {
		height: 80px;
	}
</style>