@page
@model Store.TransactionsModel
@using PizzaShopWebService.Models

@{
    ViewData["Title"] = "Transactions";
}

<div class="row">
    <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3> Transactions </h3>
    </header>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4> Search transactions by phone number </h4>
		<form method="get">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="PhoneNumber" class="form-control" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>

			<input asp-page="/Store/Transactions" type="submit" value="Search" class="submit" />
		</form>
        <hr />

        <table style="width:100%; text-align:center">
            <thead style="font-weight:bold; background-color:lightgray">
                <tr>
                    <td>
                        <h4> Transaction Id  </h4>
                    </td>
                    <td>
                        <h4> Name </h4>
                    </td>
                    <td>
                        <h4> Address </h4>
                    </td>
                    <td>
                        <h4> Phone Number </h4>
                    </td>
                    <td>
                        <h4> Date </h4>
                    </td>
	               	<td>
                        <h4> Total </h4>
                    </td>
                    <td>
                        <h4> PaymentType </h4>
                    </td>
                </tr>
            </thead>

            <tbody>
                @foreach (TransactionDTO transactionDTO in Model.TransactionDTOs)
                {
					<tr style="height:50px; border-bottom:1px solid lightgray; font-weight:normal">
		               <td>
                        	<h5> @Html.DisplayFor(modelItem => transactionDTO.TransactionID) </h5>
                    	</td>
						<td>
							<h5> @Html.DisplayFor(modelItem => transactionDTO.CustomerDTO.Name) </h5>
						</td>
						<td>
							<h5>  @Html.DisplayFor(modelItem => transactionDTO.CustomerDTO.Address) </h5>
						</td>
						<td>
							<h5> @Html.DisplayFor(modelItem => transactionDTO.CustomerPhoneNumber) </h5>
						</td>
						<td>
							<h5> @Html.DisplayFor(modelItem => transactionDTO.Date) </h5>
						</td>
						<td>
							<h4>  @Html.DisplayFor(modelItem => transactionDTO.Total) </h4>
						</td>
						<td>
							<h5> @Html.DisplayFor(modelItem => transactionDTO.PaymentType) </h5>
						</td>
					</tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .row {
        margin: 0%;
        padding: 0%;
        height: 650px;
        width: 100%;
        border: 1px solid lightgray;
     
        background-color: white;
        /*-moz-box-shadow: 2px 2px 2px 2px darkblue;
        -webkit-box-shadow: 2px 2px 2px 2px darkblue;
        box-shadow: 0px 0px 10px 0px gray;*/
    }

    header {
        height: 60px;
        border-bottom: 1px solid lightgray;
        background-color: #febc11;
        font-weight: bold;
    }

    footer {
        height: 60px;
        border-top: 1px solid lightgray;
    }

        footer h3 {
            float: right;
            margin-right: 40px;
        }

    h3 {
        text-align: center;
        text-transform: capitalize;
    }

    .row div {
        margin: 0%;
        /*border: 1px solid lightgray;*/
        vertical-align: central;
        display: inline-block;
        padding: 5%;
    }

    input {
        height: 50px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        border: 1px solid lightgray;
    }

    form {
        padding: 0%;
        width: 100%;
    }

    .submit {
        background-color: black;
        color: #febc11;
        font-weight: bold;
        width: 49%;
        margin: 0%;
        display: inline;
    }

    #formCheck input {
        width: 100%;
    }

    h4 {
        text-transform: uppercase;
    }
    td{
        text-align:left;
    }
    h5{
        text-transform:capitalize;
        font-weight:bold;
    }
</style>

